body{
    font-family:"Montserrat";
    font-weight: 400;
}
#title{
background-color:#ff4c68;
color:#fff;

}
#dog-intro{
    font-family: "Montserrat";
    font-weight:900;
    font-size:3.5rem;
    line-height:1.5;
}

.container-fluid{
    padding: 3% 15% 7%;
}
.navbar{
    padding: 0 0 4.5rem;

}
.navbar-brand{
    font-family:"Ubuntu";
    font-size:2.5rem;
    font-weight:bold;
}
.nav-item{
    padding:0 18px;

}
.download-button{
    margin:5% 3% 5% 0;
}
.title-image{
    width:60%;
    right: 30%;
    transform:rotate(25deg);
    position: absolute;

}
#features{
    text-align:center;
    padding:7% 15%;
    background-color:white;
    position: relative;
    z-index: 1;
    

}
h2{
    font-family:"Montserrat";
    font-weight:600;
    font-size:2.5rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat";
    font-weight:600;
    font-size:1.5rem;
}
.feature-intro{
    color: #8f8f8f;
}
/* Instead of using three different classed you can name the second class! */
/* .icon{

} */
i.fas.fa-check-circle
{
    color:#ef8172;
    margin-bottom: 1rem;
}
i.fas.fa-bullseye
{
    color:#ef8172;
    margin-bottom: 1rem;
}


i.fas.fa-heart{
    color:#ef8172;
    margin-bottom: 1rem;
}
i.fas.fa-check-circle:hover{
color:#ff4c68;
}
i.fas.fa-bullseye:hover{
    color:#ff4c68;
}
i.fas.fa-heart:hover{
    color:#ff4c68;
}
#testimonials{

    text-align:center;
    background-color: #ef8172;
    
    color:#fff;
}
.testimonial-img{
    width:10%;
    border-radius:100%;
    margin:20px;
}
#press{
    background-color:#ef8172;
    text-align:center;
    padding-bottom: 3%;

}
.press-logo{
    width:15%;
    margin:20px 20px 50px;

}
.carousel-item{
    padding:7% 15%;
}
#pricing{

    text-align: center;
    padding:100px;
    

}

.pricing-column{
    
 padding:3% 2%;
 
}

@media(max-width:1028px){
    .title{
   text-align:center;
    }
    .itle-image{
        position:static;
        transform: rotate(0);
    }
}
#cta{
    text-align: center;
    background-color:#ff4c68;
    color:white;
    padding:100px 20px;

}
#footer{
  
    text-align:center;
    background-color:white;

}
.footer-img{
    margin: 20px 10px 20px;
}
.cta-heading{
    
    font-family: "Montserrat";
    font-weight:600;
    font-size:2.5rem;
    line-height: 1.5;

}
